<!--Afficher toutes les tâches -->
<% @tasks.each do |task| %>
  <h2> <%= @task.name %> </h2>
<% end %>

<!--Link to its show view -->

<!--Link to its edit view -->

<!--Link to its delete action -->
